 /* 
        - Header
*/
    .landing.header{

      height: 35%
    }
    .landing.header h1{
      /* padding-top: 2%;*/
      padding-bottom: 5%; 
    }

    .landing button{
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;

        background: lightgray;

        width: 90px;
    }
    
    .landing button:hover, .landing button:focus,
    .signup-box-button:hover, .signup-box-button:focus{
        border: 1px solid grey;
        background-color: white;
    }

    /* WHOLE INFO SECTION*/
    .section-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      flex-flow: 1;
    }
    
    /* INFO SECTIONS */
     .info {
        min-height: 100px;
        padding: 30px 15px;
        max-width: 550px; 

        background-color: #bbb;
      }
      
      .info header{
        padding: 25px 25px;
        margin-bottom: 20px;
      }
      
      .info:nth-child(even) {
        background-color: lightgrey;
      }
    
    li, li a{
      list-style-type: none;
      text-decoration: none;
    } 
    
    
    /*  --------------
      toggle styles
      ---------------- */
      .hidden {
        display: none;
    }

    /*---------------- RESPONSIVE LAYOUT ----------------*/


    /* ----------
            COMPUTER SCREEN REGULAR 
    ----------------------*/
    @media screen and (min-width: 768px) {
     
      .landing-header {
        width: 100%;
        margin-top: 60px;
        padding: 80px 0%;
      }
    
      .landing-header h1{
          width: 100%;
          margin-bottom: 15px;
          text-align: center;
      }
    }
    
    /* ---------------------- 
          COMPUTER SCREEN LARGE 
    ----------------------*/
    @media screen and (min-width: 1024px) {
  
      .landing-header {
        width: 100%;
        margin-top: 5%;
      }

      .landing-header h1{
        width: 100%;
        margin-bottom: 15px;

        text-align: center;
      }

        .section-info{
          height: 50%;
          overflow: hidden;
        }

      .info {
        background-color: #bbb;

        height: 100%;
        min-height: 100px;
        padding: 30px 15px;
        max-width: 550px; 
      }

      .landing-header button{

        font-size: 20px;
        margin-top: 15px;


        width: 120px;
      }

      /* SECTION INFO */
      .section-info{
        display: flex;
        flex-direction: row;
        align-items: center;
      }
  }